.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sign-up {
    margin: auto;
    margin-top: 20px;
}

.description {
    align-items: center;
    align-content: center;
}